@font-face {
  font-family: 'iconfont';  /* project id 2404909 */
  src: url('//at.alicdn.com/t/font_2404909_9em9inuroaw.eot');
  src: url('//at.alicdn.com/t/font_2404909_9em9inuroaw.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2404909_9em9inuroaw.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2404909_9em9inuroaw.woff') format('woff'),
  url('//at.alicdn.com/t/font_2404909_9em9inuroaw.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2404909_9em9inuroaw.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
